flows.json
[{"id":"b258be6f.98a26","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b8c75805.3b842","type":"openweathermap","z":"b258be6f.98a26","name":"openweathermap","wtype":"current","lon":"","lat":"","city":"Kastoria","country":"Greece","language":"en","x":290,"y":260,"wires":[["ade0ae5d.18279","4880f1a0.35d538"]]},{"id":"5354db8b.ad393c","type":"inject","z":"b258be6f.98a26","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":260,"wires":[["b8c75805.3b842"]]},{"id":"ade0ae5d.18279","type":"function","z":"b258be6f.98a26","name":"CurrentWeather in Kastoria","func":"var msg1={}, msg2={}, msg3={};\n\nmsg1.payload = msg.payload.tempc;\nmsg1.topic ='Temperature';\n\nmsg2.payload = msg.payload.humidity;\nmsg2.topic ='Humidity';\n\nmsg3.payload = msg.payload.pressure;\nmsg3.topic ='Pressure';\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":560,"y":220,"wires":[["337f6867.ed2e78"],["b58e5703.5a9198"],["b5759ed2.2068b"]]},{"id":"337f6867.ed2e78","type":"ui_chart","z":"b258be6f.98a26","name":"","group":"e9eb85cf.a55cf","order":1,"width":"4","height":"4","label":"Temperature(oC)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"30","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":140,"wires":[[]]},{"id":"b58e5703.5a9198","type":"ui_chart","z":"b258be6f.98a26","name":"","group":"e9eb85cf.a55cf","order":2,"width":"4","height":"4","label":"Humidity(%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":180,"wires":[[]]},{"id":"b5759ed2.2068b","type":"ui_chart","z":"b258be6f.98a26","name":"","group":"e9eb85cf.a55cf","order":3,"width":"4","height":"4","label":"Pressure(hpa)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"500","ymax":"1500","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":220,"wires":[[]]},{"id":"7f5783ec.92fc8c","type":"function","z":"b258be6f.98a26","name":"2 Hours weather","func":"var msg4={}, msg5={}, msg6={}, msg7={};\n\nmsg4.payload = msg.payload.windspeed;\nmsg4.topic ='Wind speed(m/s)';\n\nmsg5.payload = msg.payload.description;\nmsg5.topic ='Weather condition';\n\nmsg6.payload = msg.payload.clouds;\nmsg6.topic ='Cloudiness(%)';\n\nmsg7.payload = msg.payload.pressure;\nmsg7.topic ='Pressure(hpa)';\n\n\nreturn [msg4, msg5, msg6,msg7];","outputs":4,"noerr":0,"x":520,"y":320,"wires":[["60abc225.4aedfc"],["e94a662a.8e0568"],["7b6b1a43.ac478c"],["a53d1b36.cefa68"]]},{"id":"60abc225.4aedfc","type":"ui_text","z":"b258be6f.98a26","group":"ddf2d42e.740d78","order":1,"width":"2","height":"1","name":"","label":"Wind Speed(m/s)","format":"{{msg.payload}}","layout":"col-center","x":850,"y":280,"wires":[]},{"id":"e94a662a.8e0568","type":"ui_text","z":"b258be6f.98a26","group":"ddf2d42e.740d78","order":1,"width":"5","height":"4","name":"","label":"Weather condition","format":"{{msg.payload}}","layout":"col-center","x":850,"y":320,"wires":[]},{"id":"7b6b1a43.ac478c","type":"ui_text","z":"b258be6f.98a26","group":"ddf2d42e.740d78","order":2,"width":"2","height":"1","name":"","label":"Cloudiness(%)","format":"{{msg.payload}}","layout":"col-center","x":840,"y":360,"wires":[]},{"id":"a53d1b36.cefa68","type":"ui_text","z":"b258be6f.98a26","group":"ddf2d42e.740d78","order":3,"width":"2","height":"1","name":"","label":"Pressure(hpa)","format":"{{msg.payload}}","layout":"col-center","x":840,"y":400,"wires":[]},{"id":"4880f1a0.35d538","type":"trigger","z":"b258be6f.98a26","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"2","extend":false,"units":"hr","reset":"","bytopic":"all","name":"","x":330,"y":360,"wires":[["7f5783ec.92fc8c"]]},{"id":"6b1435a.e2fec4c","type":"ui_template","z":"b258be6f.98a26","group":"e9eb85cf.a55cf","name":"","order":5,"width":"12","height":"12","format":"<div id=\"openweathermap-widget-5\"></div>\n<script>\nwindow.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  \nwindow.myWidgetParam.push({id: 5,cityid: '735927',appid: 'c503dae9695c3b20a1718caf85c8010d',units: 'metric',containerid: 'openweathermap-widget-5',  });  \n(function() {var script = document.createElement('script');script.async = true;script.charset = \"utf-8\";\nscript.src = \"//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js\";\nvar s = document.getElementsByTagName('script')[0];\ns.parentNode.insertBefore(script, s); \n})();\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":340,"y":560,"wires":[["eec668c.63f9e98"]]},{"id":"eec668c.63f9e98","type":"debug","z":"b258be6f.98a26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":560,"wires":[]},{"id":"5d874ee7.f4e7d","type":"inject","z":"b258be6f.98a26","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":560,"wires":[["6b1435a.e2fec4c"]]},{"id":"92ef78b4.f1809","type":"openweathermap","z":"b258be6f.98a26","name":"5 day weather forecast","wtype":"forecast","lon":"","lat":"","city":"Kastoria","country":"Greece","language":"en","x":340,"y":760,"wires":[["3c3a4e7e.0c8ea2"]]},{"id":"2775a9d0.eb7d76","type":"inject","z":"b258be6f.98a26","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":760,"wires":[["92ef78b4.f1809"]]},{"id":"3c3a4e7e.0c8ea2","type":"function","z":"b258be6f.98a26","name":"INSERT_DB","func":"var text = 'INSERT INTO forecast(temperature, sea_level, humidity, pressure) VALUES';\n\nfor (var i = 0; i < msg.payload.length; i++) \n{\n text += ' (' + msg.payload[i].main.temp + ',' + msg.payload[i].main.sea_level + ',' + msg.payload[i].main.humidity+ ',' + msg.payload[i].main.pressure + ')';\nif (i < msg.payload.length - 1)\n {\ntext += ', \\n';\n }\n}\n\nvar txtMsg = {\n\"topic\": text + ';'\n}\n\nreturn txtMsg;","outputs":1,"noerr":0,"x":530,"y":760,"wires":[["b213b7c6.345868"]]},{"id":"3e2669a1.5ff426","type":"inject","z":"b258be6f.98a26","name":"CREATE_DB","topic":"CREATE TABLE FORECAST(TEMPERATURE REAL, SEA_LEVEL INT, HUMIDITY INT, PRESSURE INT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":680,"wires":[["b213b7c6.345868"]]},{"id":"432ea74c.4840d8","type":"debug","z":"b258be6f.98a26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":680,"wires":[]},{"id":"b213b7c6.345868","type":"sqlite","z":"b258be6f.98a26","mydb":"cae31e00.6dddf8","sqlquery":"msg.topic","sql":"","name":"forecast","x":720,"y":680,"wires":[["432ea74c.4840d8"]]},{"id":"5377fa29.dda8fc","type":"inject","z":"b258be6f.98a26","name":"","topic":"SELECT * FROM FORECAST ;","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":110,"y":960,"wires":[["87a3d564.08ecf8"]]},{"id":"85d279d1.7207c","type":"ui_template","z":"b258be6f.98a26","group":"ba9301.a4c77d","name":"","order":0,"width":"9","height":"9","format":"<table  style=\"width:85%\">\n  <tr>\n    <th>Index</th> \n    <th>Temperature</th> \n    <th>Sea Level</th>\n    <th>Humidity</th> \n    <th>Pressure</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:40\">\n    <td>{{$index}}</td>\n    <td>{{msg.payload[$index].TEMPERATURE}}</td>\n    <td>{{msg.payload[$index].SEA_LEVEL}}</td> \n    <td>{{msg.payload[$index].HUMIDITY}}</td>\n    <td>{{msg.payload[$index].PRESSURE}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":940,"wires":[[]]},{"id":"279f52a2.0ab1f6","type":"function","z":"b258be6f.98a26","name":"MAX MIN AND MEANS","func":"var msg2={};\nvar msgT={};\nvar msgSL={};\nvar msgH={};\nvar msgP={};\n\nmaxTemp= [];\nminTemp= [];\nmeanTEMP= [];\nmeanSEA=[];\nmeanHUM=[];\nmeanPR=[];\n\nmeanTEMP[0]= 0; meanTEMP[1]=0; meanTEMP[2]=0; meanTEMP[3]=0;meanTEMP[4]=0;\nmeanSEA[0]= 0; meanSEA[1]=0; meanSEA[2]=0; meanSEA[3]=0; meanSEA[4]=0;\nmeanHUM[0]= 0; meanHUM[1]=0; meanHUM[2]=0; meanHUM[3]=0; meanHUM[4]=0;\nmeanPR[0]= 0; meanPR[1]=0; meanPR[2]=0; meanPR[3]=0; meanPR[4]=0;\n\nmaxTemp[0]= -6; maxTemp[1]= -6; maxTemp[2]= -6; maxTemp[3]= -6; maxTemp[4]= -5;\nminTemp[0]= 46; minTemp[1]= 46; minTemp[2]= 46; minTemp[3]= 46; minTemp[4]= 46;\n\nfor (var i = 0; i < msg.payload.length; i++) \n{\n    \n\n    if(i <=7) \n    {\n        meanTEMP[0]= meanTEMP[0] + msg.payload[i].TEMPERATURE;\n        meanSEA[0]= meanSEA[0]+ msg.payload[i].SEA_LEVEL;\n        meanHUM[0]= meanHUM[0]+ msg.payload[i].HUMIDITY;\n        meanPR[0]= meanPR[0]+ msg.payload[i].PRESSURE;\n        if(maxTemp[0] <msg.payload[i].TEMPERATURE)\n        {\n            \n            maxTemp[0]=msg.payload[i].TEMPERATURE;\n        }\n        if(minTemp[0] >msg.payload[i].TEMPERATURE)\n        {\n            \n            minTemp[0]=msg.payload[i].TEMPERATURE;\n        }\n    }\n     if(i >7 && i <= 15) \n    {\n        meanTEMP[1]= meanTEMP[1] + msg.payload[i].TEMPERATURE;\n        meanSEA[1]= meanSEA[1]+ msg.payload[i].SEA_LEVEL;\n        meanHUM[1]= meanHUM[1]+ msg.payload[i].HUMIDITY;\n        meanPR[1]= meanPR[1]+ msg.payload[i].PRESSURE;\n        if(maxTemp[1] <msg.payload[i].TEMPERATURE)\n        {\n            \n            maxTemp[1]=msg.payload[i].TEMPERATURE;\n        }\n        if(minTemp[1] >msg.payload[i].TEMPERATURE)\n        {\n            \n            minTemp[1]=msg.payload[i].TEMPERATURE;\n        }\n    }\n    if(i >15 && i <=23) \n    {\n        meanTEMP[2]= meanTEMP[2] + msg.payload[i].TEMPERATURE;\n        meanSEA[2]= meanSEA[2]+ msg.payload[i].SEA_LEVEL;\n        meanHUM[2]= meanHUM[2]+ msg.payload[i].HUMIDITY;\n        meanPR[2]= meanPR[2]+ msg.payload[i].PRESSURE;\n        if(maxTemp[2] <msg.payload[i].TEMPERATURE)\n        {\n            \n            maxTemp[2]=msg.payload[i].TEMPERATURE;\n        }\n        if(minTemp[2] >msg.payload[i].TEMPERATURE)\n        {\n            \n            minTemp[2]=msg.payload[i].TEMPERATURE;\n        }\n    }\n    if(i >23 && i <=31) \n    {\n        meanTEMP[3]= meanTEMP[3] + msg.payload[i].TEMPERATURE;\n        meanSEA[3]= meanSEA[3]+ msg.payload[i].SEA_LEVEL;\n        meanHUM[3]= meanHUM[3]+ msg.payload[i].HUMIDITY;\n        meanPR[3]= meanPR[3]+ msg.payload[i].PRESSURE;\n        if(maxTemp[3] <msg.payload[i].TEMPERATURE)\n        {\n            \n            maxTemp[3]=msg.payload[i].TEMPERATURE;\n        }\n        if(minTemp[3] >msg.payload[i].TEMPERATURE)\n        {\n            \n            minTemp[3]=msg.payload[i].TEMPERATURE;\n        }\n    }\n    if(i >31 && i < 39) \n    {\n        meanTEMP[4]= meanTEMP[4] + msg.payload[i].TEMPERATURE;\n        meanSEA[4]= meanSEA[4]+ msg.payload[i].SEA_LEVEL;\n        meanHUM[4]= meanHUM[4]+ msg.payload[i].HUMIDITY;\n        meanPR[4]= meanPR[4]+ msg.payload[i].PRESSURE;\n        if(maxTemp[4] <msg.payload[i].TEMPERATURE)\n        {\n            \n            maxTemp[4]=msg.payload[i].TEMPERATURE;\n        }\n        if(minTemp[4] >msg.payload[i].TEMPERATURE)\n        {\n            \n            minTemp[4]=msg.payload[i].TEMPERATURE;\n        }\n    }\n\n}\n    for(l= 0 ; l<5 ; l++){\n       meanTEMP[l]=(meanTEMP[l]/8).toFixed(2); \n        meanSEA[l]=(meanSEA[l]/8).toFixed(2);\n         meanHUM[l]=(meanHUM[l]/8).toFixed(2);\n         meanPR[l]=(meanPR[l]/8).toFixed(2);\n    }\n    msgT.payload=meanTEMP;\n    msgSL.payload=meanSEA;\n    msgH.payload=meanHUM;\n    msgP.payload=meanPR;\n\n    msg.payload= maxTemp;\n    msg2.payload= minTemp;\n\n\n  return [msg,msg2,msgT,msgSL,msgH,msgP];\n","outputs":6,"noerr":0,"x":450,"y":1100,"wires":[["b9c145f9.cde1d8"],["cc38209.1dabe6"],["a846522b.8b07c","8d93d93c.eb86"],["e41733c9.ffa3c"],["11cdf892.fd8a8f"],["6cf494a.cb9146c"]]},{"id":"87a3d564.08ecf8","type":"sqlite","z":"b258be6f.98a26","mydb":"cae31e00.6dddf8","sqlquery":"msg.topic","sql":"","name":"forecast","x":280,"y":960,"wires":[["279f52a2.0ab1f6","85d279d1.7207c","353ffd71.5f7dba"]]},{"id":"cc38209.1dabe6","type":"ui_text","z":"b258be6f.98a26","group":"ba9301.a4c77d","order":2,"width":0,"height":0,"name":"","label":"Μικρότερες θερμοκρασίες ","format":"{{msg.payload}}","layout":"col-center","x":810,"y":1060,"wires":[]},{"id":"b9c145f9.cde1d8","type":"ui_text","z":"b258be6f.98a26","group":"ba9301.a4c77d","order":3,"width":0,"height":0,"name":"","label":"Μέγιστες θερμοκρασίες ","format":"{{msg.payload}}","layout":"col-center","x":770,"y":1020,"wires":[]},{"id":"a846522b.8b07c","type":"ui_text","z":"b258be6f.98a26","group":"ba9301.a4c77d","order":5,"width":"0","height":"0","name":"","label":"MEAN TEMPERATURE","format":"{{msg.payload}}","layout":"col-center","x":770,"y":1100,"wires":[]},{"id":"e41733c9.ffa3c","type":"ui_text","z":"b258be6f.98a26","group":"ba9301.a4c77d","order":5,"width":0,"height":0,"name":"","label":"MEAN SEA LEVEL","format":"{{msg.payload}}","layout":"col-center","x":750,"y":1160,"wires":[]},{"id":"11cdf892.fd8a8f","type":"ui_text","z":"b258be6f.98a26","group":"ba9301.a4c77d","order":5,"width":0,"height":0,"name":"","label":"MEAN HUMIDITY","format":"{{msg.payload}}","layout":"col-center","x":750,"y":1200,"wires":[]},{"id":"6cf494a.cb9146c","type":"ui_text","z":"b258be6f.98a26","group":"ba9301.a4c77d","order":5,"width":0,"height":0,"name":"","label":"MEAN PRESSURE","format":"{{msg.payload}}","layout":"col-center","x":750,"y":1240,"wires":[]},{"id":"9e373017.4ef908","type":"inject","z":"b258be6f.98a26","name":"DELETE","topic":"DELETE FROM FORECAST;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1080,"wires":[["87a3d564.08ecf8"]]},{"id":"353ffd71.5f7dba","type":"debug","z":"b258be6f.98a26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":880,"wires":[]},{"id":"8d93d93c.eb86","type":"debug","z":"b258be6f.98a26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":1120,"wires":[]},{"id":"e9eb85cf.a55cf","type":"ui_group","z":"","name":"Current Weather","tab":"3617469d.c3f842","order":3,"disp":true,"width":"12","collapse":false},{"id":"ddf2d42e.740d78","type":"ui_group","z":"","name":"2 hours weather and forecasts ","tab":"3617469d.c3f842","order":4,"disp":true,"width":"6","collapse":false},{"id":"cae31e00.6dddf8","type":"sqlitedb","z":"","db":"C:\\Users\\ioamp\\Desktop\\db\\db1","mode":"RWC"},{"id":"ba9301.a4c77d","type":"ui_group","z":"","name":"Database","tab":"3617469d.c3f842","order":1,"disp":true,"width":"9","collapse":false},{"id":"3617469d.c3f842","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","order":4,"disabled":false,"hidden":false}]